<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
    <!-- bean id="qfj" class="com.fintek.ets.connectivity.QFJStarter" init-method="start">
    </bean-->
    
    <bean id="etsDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ets"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="etsDataSource"/>
        <property name="mappingResources">
            <list>
                <value>com/fintek/ets/db/orm/user.hbm.xml</value>
                <value>com/fintek/ets/db/orm/portfolio.hbm.xml</value>
                <value>com/fintek/ets/db/orm/trade.hbm.xml</value>
                <value>com/fintek/ets/db/orm/order.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
        	<props>
        		<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
        		<prop key="hbm2ddl.auto">create</prop>
        	</props>
        </property>
    </bean>
    
    <!-- bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean-->
    
    <bean id="tradeDAOImpl" class="com.fintek.ets.db.dao.impl.TradeDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="userDAOImpl" class="com.fintek.ets.db.dao.impl.UserDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="orderDAOImpl" class="com.fintek.ets.db.dao.impl.OrderDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="portfolioDAOImpl" class="com.fintek.ets.db.dao.impl.PortfolioDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
        
</beans>